@import "tailwindcss";

.input {
  @apply w-full border rounded px-3 py-2 bg-gray-50 outline-none;
}

.input-box {
  @apply w-full px-4 py-3 rounded-xl bg-white/20 text-white placeholder-gray-300 border border-white/30 outline-none backdrop-blur-md;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


.input-field {
  @apply w-full p-3 border border-gray-300 rounded-lg focus:outline-none;
}

.blue-btn {
  @apply w-full text-white py-3 rounded-lg font-semibold transition-all;
  background-color: #074F06;
}

.blue-btn:hover {
  background-color: #053d05;
}

/* Navbar link styles */
.nav-link-inactive {
  color: white;
}

.nav-link-inactive:hover {
  background-color: #D5F2D5 !important;
  color: #074F06 !important;
}

.nav-link-active {
  color: #074F06 !important;
}